/* src/ArticleLayout.css */
.Article_Layout_container {
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
    transition: all 0.3s ease;
}

.Article_Layout_container:hover {
    transform: scale(1.05); /* Increase the container size by 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Article_Layout_main-content {
    display: flex;
    margin-top: 40px;
    background-color: #f0f0f0;
    padding: 60px; /* Increase padding for a larger section */
    border-radius: 20px; /* Larger border radius for rounded corners */
    gap: 20px; /* Adjusted gap between image and description for a larger image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for visual separation */
}

.Article_Layout_code-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Article_Layout_code-image img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 1000px; /* Increase maximum width for a much larger image */
    max-height: 900px; /* Increase maximum height for a much larger image */
    border-radius: 15px; /* Match border radius with container */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.Article_Layout_description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; /* Add padding for more space */
}

.Article_Layout_description p {
    font-size: 26px; /* Increase font size for better readability */
    color: black; /* Set text color to black */
    text-align: justify; /* Justify text alignment for better readability */
}
