.bug-item-div {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    min-height: 350px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
}

.high-priority {
    border-color: red; /* קו גבול אדום עבור עדיפות גבוהה/חשיבות גבוהה */
}

.bug-item-title {
    color: #555;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.bug-item-description {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: center;
}

.bug-item-status {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    text-align: center;
}

.bug-item-status::before {
    content: "Status: ";
    font-weight: bold;
}

.bug-item-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bug-item-assigned-combobox {
    font-size: 18px;
    color: black;
    background-color: white;
    margin: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
}

.bug-item-assigned-p,
.bug-item-creation-date,
.bug-item-open-date {
    font-size: 18px;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.bug-item-priority,
.bug-item-importance {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.bug-item-remove-button {
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 35px;
    cursor: pointer;
}

.bug-item-editing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bug-item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bug-item-row {
    display: flex;
    align-items: center;
}

.bug-item-row-textarea {
    display: flex;
    flex-direction: column;
}

.bug-item-row label {
    color: black;
    margin-bottom: 5px;
}

.bug-item-row input {
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

.bug-item-label {
    color: black;
}

.bug-item-cancel-button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #ff3c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bug-item-cancel-button:hover {
    background-color: #f86464;
}

.bug-item-input,
.bug-item-select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
    color: black;
}

.bug-item-textarea {
    background-color: white;
    color: black;
    padding: 10px; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    resize: none;
    overflow: auto;
}

.bug-item-save-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bug-item-save-button:hover {
    background-color: #0056b3;
}

.bug-item-edit-button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bug-item-edit-button:hover {
    background-color: #218838;
}

.bug-item-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center; /* Center align the button container */
}
