.edit_user_page {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 80vw;
    height: 70vh; /* Ensure the page takes the full height of the viewport */
}

.edit_user_title {
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: black;
    
}

.edit_user_container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure both sides grow from top to bottom */
    width: 100%;
    flex-grow: 1;
}

.edit_user_form_left,
.edit_user_form_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    border: none; /* Remove the red border lines */
}

.edit_user_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-bottom: 40px;
}

.edit_user_form label {
    color: black;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 3px;
    display: block;
    font-size: 22px; /* Increased the font size */
}

.edit_user_form input {
    width: 100%;
    padding: 15px; /* Increased the padding */
    margin-bottom: 30px;
    font-size: 26px; /* Increased the font size */

    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

    box-sizing: border-box;
    color: black;
    background-color: white;
}

.edit_user_submit_button {
    margin-top: 20px;
    padding: 15px; 
    background-color: #3c3567;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 26px;
    border: none;
    border-radius: 8px;
}

.edit_user_submit_button:hover {
    background-color: #484177;
}