.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3567;
    padding: 5px 20px;
    color: white;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav a {
    position: relative;
    color: white;
    margin: 0 15px;
    padding: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header .nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: transparent;
    transition: background-color 0.3s ease;
}

.header .nav a:hover {
    color: #ffde59;
}

.header .nav a:hover::after {
    background-color: #ffde59;
}

.header .profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}

.header .profile-icon img {
    width: 40px;
    height: 40px;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    width: 120px;
    text-align: center;
}

.dropdown-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    color: #3c3567;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-button:hover {
    background-color: #f1f1f1;
}

.dropdown-button:focus {
    outline: none;
}