.register-page {
    margin-top: 100px;
    position: relative;
}

.register-container {
    width: 500px;
    max-height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 850px; /* Increased maximum width */
    padding: 60px; /* Increased the padding */
    border: 3px solid #ccc;
    border-radius: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.register-title {
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 20px; /* Increased margin bottom */
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; /* Increased the margin-bottom */
}

.register-form label {
    color: black;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 3px;
    display: block;
    font-size: 22px; /* Increased the font size */
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 15px; /* Increased the padding */
    font-size: 26px; /* Increased the font size */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

.register-form select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px; /* Increased the padding */
    font-size: 26px; /* Increased the font size */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.register-button {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px; 
    background-color: #007bff;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}