
.login-page {
  margin-top: 100px;
  position: relative;
}

.login-container {
  width: 500px;
  max-height: calc(100vh - 100px);
  overflow-y: scroll; /* Enables vertical scrolling */

  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 850px; /* Increased maximum width */
  padding: 60px; /* Increased the padding */
  border: 3px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.login-title {
  text-align: center;
  color: black;

  margin-top: 0px;
  margin-bottom: 30px; /* Increased margin bottom */
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px; /* Increased the margin-bottom */
}

.login-form label {
  color: black;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 3px;
  display: block;
  font-size: 22px; /* Increased the font size */
}

.login-form input {
  width: 100%;
  padding: 15px; /* Increased padding */
  font-size: 26px; /* Increased font size */
  box-sizing: border-box;
  color: black;
  background-color: white;
  margin-bottom: 20px; /* Increased margin bottom */
  border: 1px solid #ccc;
  border-radius: 10px; /* Increased border radius */
}

.login-error {
  color: red;
  margin-bottom: 20px;
}

.login-success {
  color: green;
  margin-bottom: 20px;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* Increased margin top */
}

.login-forgot-password {
  font-size: 18px; /* Increased font size */
  color: #999;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-forgot-password:hover {
  color: #555;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
  margin: 0px;
  padding: 20px; 
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
}

.login-button:hover {
  background-color: #0056b3;
}
