
.admin {
    padding-top: 330px;
    position: relative;
    max-width: 1200px; 
    margin: 0 auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.admin_inner_container {
    max-height: calc(100vh - 100px);
    overflow-y: scroll; /* Enables vertical scrolling */
}

.admin_inner_container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.admin_search_container {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-45%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 550px;
    height: 50px;
}

.admin_search_input {
    border: none;
    outline: none;
    flex-grow: 1;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.admin_search_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


